.quizzNavigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 40%;
}

.quizzNavigationElement{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: var(--mantine-radius-default);
    font-size: 1rem;
    font-family: 'Staatliches Regular';
    background-color: var(--background);
    color: var(--secondary);
    transition: all 0.2s ease-in-out;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        background-color: var(--backgroud-hover);
    }
    &.disabled{
        background-color: var(--mantine-color-gray-2);
        color: var(--mantine-color-gray-6);
        border: 1px solid var(--mantine-color-gray-4);
        &:hover{
            cursor: not-allowed;
            transform: scale(1);
            background-color: var(--mantine-color-gray-2);
        }
    }
    &.correct{
        background-color: var(--mantine-color-green-4);
    }
    &.incorrect{
        background-color: var(--mantine-color-red-5);
        color: white;
    }
    &.notFilled{
        background-color: var(--mantine-color-gray-2);
        border: 1px solid var(--primary);
    }
    &.filled{
        background-color: var(--mantine-color-yellow-3);
        &.disabled{
            &:hover{
                cursor: not-allowed;
                transform: scale(1);
                background-color: var(--mantine-color-yellow-3);
            }
        }
    }
    &.active{
        background-color: var(--accent);
        color: white;
    }
}