.view{
    position: relative;
    text-align: center;
    padding: 100px 15% 0 15% ;
    background-color: var(--background-main);
    overflow: auto;
    overflow-x: hidden;
    height: 100vh;


    .content{
        position: relative;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.671);
        border-radius: 30px;
    }

    .quizzTitle{
        font-family: 'Underdog Regular';
        font-size: 5rem;
        color: var(--primary);
        margin: 0;
        text-shadow: 2px 2px 2px black;
    }

    .quizzTop{
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }

    .quizzTopContent{
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .quizzBottomContent{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        z-index: 1;
    }

    .quizzDescription{
        font-family: 'Underdog Regular';
        font-size: 2rem;
        color: var(--accent);
        margin: 0;
        text-shadow: 2px 2px 2px black;
    }

    .quizzInfo{
        margin: 50px 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .quizzInfoItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 50px 0;
    }

    .quizzInfoItemTitle{
        font-family: 'Underdog Regular';
        font-size: 1.5rem;
        color: var(--secondary);
        margin: 0;
    }

    .quizzInfoItemValue{
        font-family: 'Underdog Regular';
        font-size: 1.5rem;
        color: black;
        margin: 0;
    }

    .quizzInfoItemValueWithIcon{
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .quizzInfoItemAuthorImage{
        width: 32px;
        height: 32px;
        
        font-size: 1.2rem;
        border-radius: 50%;
        color: black;
        background-color: var(--secondary);
        border: 1px solid var(--primary);
        color: white;
        padding: 5px;
    }

    .quizzInfoItemFinishedImage{
        @extend .quizzInfoItemAuthorImage;
    }

    .quizzInfoItemLikedImage{
        @extend .quizzInfoItemAuthorImage;
    }
}

.question{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 0;

}

.questionTitle{
    font-family: 'Underdog Regular';
    font-size: 2rem;
    color: var(--primary);
    margin: 0;
    text-shadow: 2px 2px 2px black;
}

.checkboxOption{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0 0 0;
}

.checkboxOptionLabel{
    font-family: 'Underdog Regular';
    font-size: 1.5rem;
    color: black;
    margin: 0;
    margin: 0 0 0 10px;
}

.checkboxOptionInput{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid var(--primary) !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

.checkboxOptionRadio{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid var(--primary) !important;
    border-radius: 50% !important;
    cursor: pointer !important;
}

.quizzTypeChooseRoot{
    height: 200px !important;
    width: 45% !important;
    border: 3px solid var(--primary) !important;
    border-radius: (var(--mantine-radius-default));
    background-color: var(--background) !important;
    color: var(--primary) !important;
    letter-spacing: .15rem;
    transition: all 0.2s ease-in-out;
    &:hover{
        cursor: pointer;
        background-color: var(--secondary) !important;
        color: white !important;
        transform: scale(1.03);
    }
}

.quizzTypeChooseLabel{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.quizzTypeChooseIcon{
    font-size: 5rem;
    margin-bottom: 30px;
}

.quizzTypeChooseText{
    font-family: 'Underdog Regular';
    font-size: 2rem;
    margin: 0;
}

.typeQuizQuestionTitle{
    @extend .questionTitle;
    margin-bottom: 30px;
    font-size: 2.5rem;
}