.label{
    text-align: center;
    margin-bottom: 20px !important;
    font-size: 2rem !important;
    font-family: 'Staatliches Regular';
}

.orHyperLink{
    text-align: center;
    font-size: 1.5rem !important;
    font-family: 'Staatliches Regular';
}

.hyperlink{
    font-family: 'Staatliches Regular';
    font-size: 1rem;
    color: var(--mantine-color-yellow-4) !important;
    text-decoration: underline;
    cursor: pointer;
}

.hyperlink:hover{
    color: var(--mantine-color-yellow-5) !important;
    text-decoration: underline;
}

.notification{
    font-size: 1rem !important;
    font-family: 'Staatliches Regular';
}

.loggedUserButton{
    font-family: 'Staatliches Regular';
    font-size: 1rem;
    color: black !important;
    cursor: pointer;
    user-select: none;
}

.loggedUserDropdown{
    background-color: var(--background);
    border: 1px solid var(--primary);
}