.view{
    text-align: center;
    padding: 100px 15% 0 15% ;
    background-color: var(--background-main);
    overflow: auto;
    height: 100vh;

    .quizzListTitle{
        font-family: 'Underdog Regular';
        font-size: 7rem;
        color: var(--primary);
        margin: 0;
    }
    
    .quizzList{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .listOperations{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .listOperation{
        padding: 10px;
        font-size: 1rem;
        color: white;
        border: 1px solid var(--primary);
        border-radius: 50%;
        background-color: var(--accent);
        transition: transform 0.2s ease-in-out;
        &:hover{
            cursor: pointer;
            transform: scale(1.05);
            background-color: var(--mantine-color-yellow-7);
        }
    }
}


.quizzListElement{
    position: relative;
    border: 1px solid var(--primary);
    background-color: var(--accent);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    border-radius: var(--mantine-radius-default);

    &::before{
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        background-color: black;
        transition: opacity 0.1s ease-in-out;
    }

    &:hover{
        cursor: pointer;
        transform: scale(1.02);
        z-index: 10;
        &::before{
            opacity: 0.1;
        }
    }
}

.quizzListElementDescription{
    font-family: 'Underdog Regular';
    font-size: 1.2rem;
    color: white;
    margin: 0;
    text-shadow: 2px 2px 2px black;
    z-index: 11;
}

.quizzListElementAuthorSection{
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.quizzListElementAuthorName{
    margin: 0;
    padding: 0;
    font-family: 'Staatliches Regular';
    font-size: 1rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    z-index: 11;
}

.quizzListElementAuthorAvatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.quizzListElementInfoSection{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.quizzListElementInfoIcon{
    width: 20px;
    height: 20px;
    color: white;
    z-index: 11;
    text-shadow: 2px 2px 2px black;
}

.quizzListElementInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzListElementInfoData{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Staatliches Regular';
    font-size: 1rem;
    text-shadow: 2px 2px 2px black;
}

.quizzListElementTitle{
    font-family: 'Underdog Regular';
    font-size: 1.7rem;
    color: white;
    margin: 0;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 0.1rem;
    z-index: 11;
    padding: 10px;
}

.listOperationDropdown{
    background: var(--background) !important;
    border: 1px solid var(--primary) !important;
    padding: 0 !important;
}

.listOperationDropdownText{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Staatliches Regular';
    margin: 0;
}

.quizzListElementModalContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;

    &::before{
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-color: black;
        transition: opacity 0.1s ease-in-out;
    }
}

.quizzListElementModalClose{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: white;
    z-index: 11;
    text-shadow: 2px 2px 2px black;
    transition: transform 0.2s ease-in-out;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        background-color: var(--background) !important;
    }
}

.modalTitle{
    @extend .quizzListElementTitle;
    margin-top: 30px;
    font-size: 2.5rem;
    position: relative;
    z-index: 11;
}

.modalDescription{
    @extend .quizzListElementDescription;
    font-size: 1.5rem;
    position: relative;
    z-index: 11;
    word-wrap: break-word;
}

.modalStatisticsSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    z-index: 11;


}

.modalStatistics{
    @extend .quizzListElementDescription;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 20px;
    position: relative;
    z-index: 11;
}

.modalButtonSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.modalContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.modalDescriptionContainer{
    width: 40%;
}


.modalButton{
    height: 80px !important;
    border: 3px solid var(--primary);
    border-radius: (var(--mantine-radius-default));
    background-color: var(--background) !important;
    color: var(--primary) !important;
    font-size: 2rem !important;
    font-family: 'Underdog Regular';
    letter-spacing: .15rem;
    transition: all 0.2s ease-in-out;
    &:hover{
        cursor: pointer;
        background-color: var(--secondary) !important;
        color: white !important;
        transform: scale(1.03);
    }
}

.modalAdditionalOperations{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modalAdditionalOperationsIcon{
    font-size: 1.5rem;
    color: white;
    z-index: 11;
    text-shadow: 2px 2px 2px black;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}

.modalReturnButton{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 11;
    text-shadow: 2px 2px 2px black;
    transition: transform 0.2s ease-in-out;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationControl{
    font-family: 'Staatliches Regular';
    border: 1px solid var(--primary) !important;
    transition: transform 0.2s ease-in-out;
    background-color: var(--accent) !important;
    color: white !important;

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
        background-color: var(--accent-hover) !important;
    }

    &[data-active]{
        background-color: var(--primary) !important;
    }
}

.paginationControls{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    margin: 50px 0;
}

.pagePicker{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // background-color: var(--accent);
    // padding: 3px;
    // border-radius: var(--mantine-radius-default);
    gap: 10px;
}

.pagePickerText{
    font-family: 'Staatliches Regular';
    font-size: var(--mantine-font-size-lg) !important;
    // color: white !important;
}

.pagePickerInput{
    border: 1px solid var(--primary) !important;
    font-family: 'Staatliches Regular' !important;
    font-size: var(--mantine-font-size-lg) !important;

}

@media only screen and (max-width: 780px) {    
    .navigation{
        justify-content: center;
    }
}

@media only screen and (max-width: 700px) {

    .view{
        padding: 100px 7px 0 7px;

        .quizzListTitle{
            font-size: 4rem;
        }
    }

    .modalContent{
        flex-direction: column;
    }

    .modalTitle{
        font-size: 2rem;
    }

    .modalDescription{
        font-size: 1.2rem;
    }

    .modalStatistics{
        font-size: 1rem;
    }

    .modalDescriptionContainer{
        width: 100%;
    }

    .quizzListElementModalContent{
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    .view{
        padding: 100px 7px 0 7px;

        .listOperations{
            flex-direction: column-reverse;
            gap: 20px;
        }

        .quizzListTitle{
            font-size: 4rem;
        }
    }
}