.view{
    text-align: center;
    padding: 100px 15% 0 15% ;
    background-color: var(--background-main);
    overflow: auto;
    height: 100vh;
}

.header{
    font-size: 2rem;
    font-family: 'Staatliches Regular';
    padding: 30px;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--primary);
}

.userIcon{
    width: 120px;
    height: 120px;
    color: white;
    z-index: 11;
    text-shadow: 2px 2px 2px black;
    border: 4px solid var(--primary);
}

@media only screen and (max-width: 700px) {

    .view{
        padding: 100px 7px 0 7px;
    }
}

@media only screen and (max-width: 600px) {
    .view{
        padding: 100px 7px 0 7px;
    }
}