.logo{
    height: 80%;
    cursor: pointer;
}

.navLink{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
    border-radius: var(--mantine-radius-default);
    &:hover{
        background-color: var(--accent);
    }
}

.navLinkLabel{
    font-family: 'Staatliches Regular';
    font-size: 1.2rem !important;
}

.navLinkLabelAccount{
    font-family: 'Staatliches Regular';
    font-size: 1rem !important;
}

.navLinkSection{
    font-size: 1rem;
}

.logoLink{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerSection{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    height: 100%;
    width: 25%;
}

.headerSectionRight{
    @extend .headerSection;
    justify-content: flex-end;
}

.headerSectionMiddle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    height: 100%;
    width: 25%;
    justify-content: center;
}

.searchBar{
    width: 100%;
}

.searchBarInput{
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary) !important;
    padding: 10px;
    font-family: 'Staatliches Regular' !important;
    font-size: 1rem;
    &:focus{
        outline: none;
    }
}

.searchBarContainer{
    width: 40vw;
}

.searchIcon{
    font-size: 1rem;
    display: none !important;
    &:hover{
        cursor: pointer;
    }
}

@media screen and (max-width: 768px){
    .headerSection{
        gap: 10px;
    }
}

@media screen and (max-width: 450px){
    .searchIcon{
        display: initial !important;
    }

    .disableSearch{
        max-width: fit-content !important;
        &:hover{
            cursor: pointer;
        }
    }

    .searchBar{
        width: 80% !important;
    }

    .headerSection{
        max-width: fit-content !important;
    }
    
    .headerSectionRight{
        max-width: 100% !important;
    }
    
    .headerSectionMiddle{
        max-width: 0px;
    }
}